<!DOCTYPE html>
<html lang="en">

  <head>
    <title>files' title here</title>
<style>
body {
  max-width: 90vw;
  margin: 2rem auto;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 90vh;
}
</style>
  </head>

  <body>

    {{> partial_flash flash }}

    {{#each files}}
    <p>

    {{#if this.is_image}}
    <img alt="{{name}}" src="{{dl_uri}}">
    <br>
    {{/if}}

    <a href="{{dl_uri}}" download="{{name}}">Download {{name}}</a> ({{content_type}})

    </p>
    {{/each}}
  </body>

</html>
