<!DOCTYPE html>
<html lang="en">

  <head>
    <title>files' title here</title>
<style>
body {
  max-width: 40rem;
  margin: 2rem auto;
}
</style>
  </head>

  <body>

    {{> partial_flash flash }}

    {{#each files}}
    <p>

    {{#if this.is_image}}
    <img alt="{{name}}" src="{{dl_uri}}">
    {{else}}
    <a href="{{dl_uri}}">{{name}}</a> ({{content_type}})
    {{/if}}

    </p>
    {{/each}}
  </body>

</html>
